<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>reddit clone</title>
</head>
<body>
<h2>first {{title1}}</h2>

<form class="ui large form segment">
   <h3 class="ui header">Add a Link</h3>

   <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
     <br>
   </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
   </div>

<button (click)="addArticle(newtitle, newlink)" class="ui positive right floated button">
   Submit link
    </button>
   </form>
   <div class="ui grid posts">
      <app-article
      *ngFor="let foobar of sortedArticles()"
      [article]="foobar">

      </app-article>
    </div>

    <div>
      <app-fibo></app-fibo>
    </div>

<div class="votes">
  <app-student-list></app-student-list>
</div>
  </body>
 </html>
